.input-container mat-form-field + mat-form-field {
  margin-left: 10px;
}
.input-field{
  width: 100%;
}
.card-container{
  width:400px;
  margin: 20px;
}
.div-buttons-container{
  display: flex;
}
.btn-save{
  margin: auto;
}

