.div-logo {
  display: flex;
  margin-bottom: 32px;
  margin-top: 10px;
}

.img-logo {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.div-container {
  height: 100%;
  display: flex;
  background-image: url('https://images.photowall.com/products/54059/watercolour-pale-pink.jpg?h=699&q=85');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  }

.card-container {
  width: 30vw;
  margin: auto;
  margin-top: 20vh;

  }

.div-input-field {
  display: grid;
}

.div-buttons-container {
  display: grid;
}
